SNGPL.pdf
.idea
__pycache__/
/__pycache__/
/__pycache__
download
build/
dist/
chield
client.spec
server.crt
server.csr
server.exe.spec
server.key
server.spec
ihms-server.pfx
test.py
database.sqlite
exeptions.py
try.py
server.pfx